<mat-card>

  <mat-card-header>
    <mat-toolbar color="accent">
      <span>Listagem de Produtos</span>
    </mat-toolbar>
  </mat-card-header>

  <ng-template #loading>
    <div class="loading-container">
      <mat-spinner color="accent"></mat-spinner>
    </div> 
  </ng-template>

  <mat-card-content>
    <table mat-table [dataSource]="products" class="mat-elevation-z8" *ngIf="PRODUCTS_DATA$ | async as products; else loading">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let product"> {{product.description}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let product">R$ {{product.price}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button matTooltip="Accent" color="accent" aria-label="Editar produto">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Deletar produto">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="onAdd()">Adicionar Produto</button>
    <button mat-raised-button color="primary" (click)="onCall('PATCH')">Resetar Lista ao estado inicial</button>
    <button mat-raised-button color="warn" (click)="onCall('DELETE')">Limpar Lista</button>
  </mat-card-actions>
</mat-card>
