table {
  width: 100%;
}

mat-card-actions {
  justify-content: center;

  button{
    margin:0 5px 0 5px;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.15);

  mat-spinner {
    margin: 20px 0 20px 0;
  }
}